<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bridge</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{gameName}}</h3>
  <button ion-button color="secondary" (click) = "onGameResultBtnClick()">Result</button>
  <button ion-button color="secondary" (click)="onNewLeadClick()">New Lead</button>


    <div class="row">
      <div class='col col-5'>
        We
      </div>
      <div class='col'>
        <span class='lead-color'>Lead</span>
      </div>
      <div class='col'>
        They
      </div>
    </div>

    <div class="row" style="border-bottom: 1px solid green;" *ngFor="let item of items">
      <div class='col'>
      {{item.weDisplay}}
      </div>
      <div class='col'>
        <span class='lead-color'>{{item.leadNumber}}</span>
      </div>
      <div class='col'>
        {{item.theyDisplay}}
      </div>
    </div>
    <ion-list>
    <!-- <button ion-item *ngFor="let item of items" (click)="onLeadItemClick($event, item)">
      <div item-start>
        {{item.weDisplay}}
      </div>
      <div class='leadnumber' item-content>
        {{item.leadNumber}}
      </div>
      <div class="item-note" item-end>
        {{item.theyDisplay}}
      </div>
    </button> -->
  </ion-list>
  
</ion-content>
